* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  max-width: 552px;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.2px;
  color: #252B42;
  text-align: center;
}
.title__description {
  font-size: 28px;
  line-height: 40px;
}

.btn {
  padding: 16px 62px;
  border-radius: 35px;
  text-decoration: none;
}
.btn_default {
  color: #ffffff;
  background: #2091F9;
}
.btn_play {
  width: 187px;
  height: 187px;
  background: url("./img/play-button.svg");
  border: none;
}

.header {
  height: 930px;
  width: 100%;
  position: relative;
  background: #222B32;
  clip-path: polygon(0% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%);
}
.header__background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: center/cover no-repeat url("./img/header__bg.jpg");
  opacity: 0.44;
}
.header__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}
.header__text {
  width: 786px;
  color: #ffffff;
  text-align: center;
}
.header__text h1 {
  padding: 10px;
  font-weight: 700;
  font-size: 74px;
  line-height: 84px;
  letter-spacing: 0.2px;
}
.header__text p {
  margin-top: 7px;
  padding: 10px;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
}
.header__button {
  margin-top: 80px;
}

.menu {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.menu__links {
  display: flex;
}
.menu__links ul {
  padding: 54px 0;
  display: flex;
  margin-right: 6px;
}
.menu__links li {
  list-style-type: none;
  padding: 10px;
}
.menu__links li:not(:last-child) {
  margin-right: 21px;
}
.menu__links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  line-height: 28px;
  font-weight: 400;
}
.menu__social-links {
  display: flex;
  align-items: center;
}
.menu__social-button {
  width: 41px;
  height: 41px;
  color: #ffffff;
  font-size: 41px;
  text-align: center;
  text-decoration: none;
}
.menu__social-button:not(:last-child) {
  margin-right: 24px;
}

.features {
  padding-top: 112px;
  padding-bottom: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features__items {
  display: flex;
  justify-content: space-between;
  max-width: 869px;
  margin: 80px auto;
}
.features__item {
  width: 255px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features__item-image {
  height: 61px;
  width: 61px;
}
.features__item-title {
  margin: 10px 16px;
  padding: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  text-align: center;
  color: #252B42;
}
.features__item:nth-child(2) .features__item-title {
  margin: 10px auto;
}
.features__item-text {
  padding: 0 10px;
  text-align: center;
  color: #374754;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.2px;
}
.features__video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 658px;
}
.features__video-screen {
  width: 82%;
  height: 100%;
  overflow: hidden;
  filter: drop-shadow(0px 8.14769px 63.1446px rgba(0, 0, 0, 0.15));
  border-radius: 45px;
  position: absolute;
  z-index: -1;
}
.features__video-screen img {
  position: absolute;
  top: -52px;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
